#! /bin/bash
"
GLOBAL_DIR=c:\\gcdev-maint
MINGW_DIR=c:\\gcdev-maint\\mingw
MSYS_DIR=c:\\gcdev-maint\\mingw\\msys\\1.0
TMP_DIR=c:\\gcdev-maint\\tmp
DOWNLOAD_DIR=c:\\gcdev\\downloads
GIT_DIR=c:\\gcdev\\git-1.9.4
REPOS_TYPE=git
GC_WIN_REPOS_URL=git://github.com/Gnucash/gnucash-on-windows.git
GC_WIN_REPOS_DIR=c:\\gcdev-maint\\gnucash-on-windows.git
REPOS_URL=git://github.com/Gnucash/gnucash.git
REPOS_DIR=c:\\gcdev-maint\\gnucash.git
GNUCASH_SCM_REV=maint

HH_DIR=c:\\soft\\hh

# Don't save the profile settings
NO_SAVE_PROFILE=yes